.error {
    color: rgb(152, 23, 0);
    background: rgba(255, 55, 0, 0.317);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
.notif {
    color: rgb(43, 152, 0);
    background: rgba(123, 255, 0, 0.391);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }